.main-btn {
  padding: 8px 30px;
  border: 1px solid #00a6e8;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #00a6e8;
}
.vacancies-list {
  position: relative;
  padding-left: 0;
  margin-top: 40px;
  padding-bottom: 80px;
}
.vacancies-list__item {
  position: relative;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1;
  min-height: 376px;
  margin-right: 1em !important;
  padding: 40px 45px 40px 40px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
}
.vacancies-list__item:nth-last-child(1) {
  margin-right: 0;
}
.vacancies-list__item:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 40px;
  right: 30px;
  background: url(../img/icon/product-1.png) 100% 100% no-repeat;
}
.vacancies-list__item-header {
  margin-top: 0;
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #333333;
}
.vacancies-list__item-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #505050;
}
.vacancies-list__item-description {
  margin-top: 0;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #878787;
}
.vacancies-list__item-demands {
  padding-left: 0;
  list-style: none;
}
.vacancies-list__item-demand {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #878787;
}
.vacancies-list__item-options {
  margin-top: 2em;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.vacancies-list__item-btn {
  padding: 8px 30px;
  border: 1px solid #00a6e8;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #00a6e8;
  padding: 8px 18px;
}
.vacancies-list__item-btn:nth-of-type(1) {
  margin-right: 1em;
}
.vacancies-list__item-btn--call {
  color: #ffffff;
  background: #00a6e8;
}
